{% extends 'base.html' %}
{% block title %} {{ verbose_name }} {% endblock title %}
{% block conteudo %}

<form method="post" novalidate>
    <div class="card shadow card-outline">
        
        <div class="card-header">
            <div class="row d-flex align-items-center">
                <div class="col">
                    <button class="text-white btn btn-sm bg-success bg-gradient" type="submit" ><i class="bi bi-save"></i> Salvar</button>
                    <a class="text-white btn btn-sm bg-secondary bg-gradient" href="{% url 'produto-list' %}"><i class="bi bi-reply"></i> Voltar</a>
                </div>
                <div class="col-auto">
                   <h4 class="card-title">{%if object %} Editar {% else %} Novo {%endif%} {{ verbose_name }}</h4>

               </div>
            </div>
        </div>
    
        <div class="card-body">
                    {% csrf_token %}
                    
            <div class="row">
                <div class="col-md-2">
                    <div class="mb-3">
                        {{ form.codigo.label_tag }}
                        {{ form.codigo }} 

                        {%if form.codigo.help_text  %}
                            <span class="helptext">{{ form.codigo.help_text}}</span>
                        {%endif%}
                        
                        {% if form.errors.codigo is not None %}
                            {{ form.errors.codigo }}
                        {%endif%}
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="mb-3">
                        {{ form.nome.label_tag }}
                        {{ form.nome }} 

                        {%if form.nome.help_text  %}
                            <span class="helptext">{{ form.nome.help_text}}</span>
                        {%endif%}

                        {% if form.errors.nome is not None %}
                            {{ form.errors.nome }}
                        {%endif%}
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="mb-3">

                        {{ form.unidade.label_tag }}
                        {{ form.unidade }} 

                        {%if form.unidade.help_text  %}
                            <span class="helptext">{{ form.unidade.help_text}}</span>
                        {%endif%}

                        {% if form.errors.unidade is not None %}
                            {{ form.errors.unidade }}
                        {%endif%}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-3">
                        {{ form.marca.label_tag }}
                        {{ form.marca }} 
                        
                        {%if form.marca.help_text  %}
                            <span class="helptext">{{ form.marca.help_text}}</span>
                        {%endif%}

                        {% if form.errors.marca is not None %}
                            {{ form.errors.marca }}
                        {%endif%}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-3">
                        {{ form.categoria.label_tag }}
                        {{ form.categoria }} 
                        
                        {%if form.categoria.help_text  %}
                            <span class="helptext">{{ form.categoria.help_text}}</span>
                        {%endif%}

                        {% if form.errors.categoria is not None %}
                            {{ form.errors.categoria }}
                        {%endif%}
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        {{ form.preco_compra.label_tag }}
                        {{ form.preco_compra }} 

                        {%if form.preco_compra.help_text  %}
                            <span class="helptext">{{ form.preco_compra.help_text}}</span>
                        {%endif%}

                        {% if form.errors.preco_compra is not None %}
                            {{ form.errors.preco_compra }}
                        {%endif%}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-3">
                        {{ form.preco_venda.label_tag }}
                        {{ form.preco_venda }} 
                        
                        {%if form.preco_venda.help_text  %}
                            <span class="helptext">{{ form.preco_venda.help_text}}</span>
                        {%endif%}

                        {% if form.errors.preco_venda is not None %}
                            {{ form.errors.preco_venda }}
                        {%endif%}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-3">
                        
                        {{ form.estoque.label_tag }}
                        {{ form.estoque }} 

                        {%if form.estoque.help_text  %}
                            <span class="helptext">{{ form.estoque.help_text}}</span>
                        {%endif%}

                        {% if form.errors.estoque is not None %}
                            {{ form.errors.estoque }}
                        {%endif%}
                    </div>
                </div>
            </div> 

            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            {{ form.ativo.label_tag }}
                            {{ form.ativo }}
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</form>
{% endblock conteudo%}