{% extends 'base.html' %}
{% block title %} {{ verbose_name }} {% endblock title %}
{% block conteudo %}

    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-center align-items-center">
                <div>
                   <h4>Lista de {{ verbose_name_plural }}</h4>
                </div>
            </div>
        </div>
        <div class="card-body" style="padding: .5rem .75rem">
            <div class="mb-2">
                <div class="row ">
                    <div class="d-flex">
                         {% if perms.cadastro.add_pais %}
                            <div style="padding-right: .5rem">
                                <a class="btn btn-primary mb-2" href="{% url 'pais-create' %}" ><i class="bi bi-plus-circle"></i>  {{ verbose_name }}</a>
                            </div>
                        {% endif %}
                        <form  method="get">
                           <div class="input-group ">
                               <input name="search" id="search" size="40" class="form-control " type="search" value="{{ search }}">
                               <button type="submit" class="btn btn-secondary"><i class="bi bi-search"></i> Pesquisar</button>
                           </div>
                        </form>
                    </div>
                </div>
            </div>
            <table class="table table-sm table-bordered table-hover">
                    <thead class="table-secondary">
                        <tr>
                            <th style="width: 10rem">Codigo</th>
                            <th>Nome</th>
                            <th class="text-center" style="width: 6rem">Ações</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for m in object_list %}
                            <tr>
                                <td>{{ m.codigo }}</td>
                                <td>{{ m.nome }}</td>
                                <td class="text-center">
                                    {% if perms.cadastro.change_pais %}
                                        <a class="btn btn-sm btn-warning" href="{% url 'pais-update' m.pk %}"><i class="bi bi-pencil" ></i></a>
                                    {%endif%}

                                    {% if perms.cadastro.delete_pais %}
                                        <a class="btn btn-sm btn-danger" href="{% url 'pais-delete' m.pk %}"><i class="bi bi-trash3"></i></a>
                                    {%endif%}
                                </td>
                            </tr>
                        {% empty %}
                           <tr>
                               <td class="text-center" colspan="3">Sem registro</td>
                           </tr>

                        {% endfor %}
                    </tbody>
                </table>
                {% include 'paginate.html' %}
        </div>
    </div>

{% endblock conteudo%}

