{% extends 'base.html' %}
{% block title %} {{ verbose_name }} {% endblock title %}
{% block conteudo %}

<form method="post" novalidate>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-12 col-md-12">
                    <button class="text-white btn bg-success bg-gradient" type="submit" ><i class="bi bi-save"></i> Salvar</button>
                    <a class="text-white btn bg-secondary bg-gradient" href="{% url 'formapagamento-list' %}"><i class="bi bi-reply"></i> Voltar</a>
                    <h4 class="card-title">{%if object %} Editar {% else %} Nova {%endif%} {{ verbose_name }}</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
                    {% csrf_token %}

                    <div class="row">

                        <div class="col-md-2">
                            <div class="mb-3">
                                {{ form.codigo.label_tag }}
                                {{ form.codigo }} 

                                {%if form.codigo.help_text %}
                                    <span class="helptext">{{ form.codigo.help_text}}</span>
                                {%endif%}

                                {% if form.errors.codigo is not None %}
                                    {{ form.errors.codigo }}
                                {%endif%}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="mb-3">
                                {{ form.tipo_pagamento.label_tag }}
                                {{ form.tipo_pagamento }} 

                                {%if form.tipo_pagamento.help_text %}
                                    <span class="helptext">{{ form.tipo_pagamento.help_text}}</span>
                                {%endif%}

                                {% if form.errors.tipo_pagamento is not None %}
                                    {{ form.errors.tipo_pagamento }}
                                {%endif%}
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="mb-3">
                                {{ form.nome.label_tag }}
                                {{ form.nome }} 

                                {%if form.nome.help_text %}
                                    <span class="helptext">{{ form.nome.help_text}}</span>
                                {%endif%}

                                {% if form.errors.nome is not None %}
                                    {{ form.errors.nome }}
                                {%endif%}
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                {{ form.ativo.label_tag }}
                                {{ form.ativo }} 
                            </div>
                        </div>
                    </div> 
                    
                </div>
    </div>
</form>
{% endblock conteudo%}