 <nav class="navbar navbar-expand-md navbar-dark bg-dark border-bottom  mt-2 rounded-2 mb-1">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarNavDropdown" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Principal</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cadastros
          </a>
          <ul class="dropdown-menu">

            
            {% if perms.cadastro.view_contato %}
              <li><a class="dropdown-item" href="{% url 'contato-list'  %}">Contatos</a></li>
            {% endif %}

            
            {% if perms.cadastro.view_produto %}
              <li><a class="dropdown-item" href="{% url 'produto-list'  %}">Produtos</a></li>
            {% endif %}


            {% if perms.cadastro.view_unidade %}
              <li><a class="dropdown-item" href="{% url 'unidade-list'  %}">Unidades</a></li>
            {% endif %}

            {% if perms.cadastro.view_categoria %}
            <li><a class="dropdown-item" href="{% url 'categoria-list' %}">Categorias</a></li>
            {% endif %}
            {% if perms.cadastro.view_marca %}
            <li><a class="dropdown-item" href="{% url 'marca-list'  %}">Marcas</a></li>
            {% endif %}

            {% if perms.cadastro.view_pais %}
              <li><a class="dropdown-item" href="{% url 'pais-list'  %}">Países</a></li>
            {% endif %}

            {% if perms.cadastro.view_estado %}
              <li><a class="dropdown-item" href="{% url 'estado-list'  %}">Estados</a></li>
            {% endif %}

            {% if perms.cadastro.view_municipio %}
              <li><a class="dropdown-item" href="{% url 'municipio-list'  %}">Municípios</a></li>
            {% endif %}

          </ul>
        </li>



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestão Financeira
          </a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Contas a Pagar</a></li>
              <li><a class="dropdown-item" href="#">Contas a Receber</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestão de Vendas
          </a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Orçamentos</a></li>

          </ul>
        </li>

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Faturamento
          </a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">NF-e</a></li>
              <li><a class="dropdown-item" href="#">NFC-e</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto " style="margin-right: 4rem !important">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Janilson
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="{% url 'auth_logout' %}?next=/">Sair</a></li>
            
          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>