{% extends 'base.html' %}
{% load static %}
{% block title %} {{ verbose_name }} {% endblock title %}
{% block js %}
    <script src="{% static 'js/contato.js' %}"></script>
{% endblock%}

{% block conteudo %}

<form method="post" novalidate>
    <div class="card shadow card-outline">
        <div class="card-header">
            <div class="row">
                <div class="col-12 col-md-12">
                    <button class="text-white btn bg-success bg-gradient" type="submit" ><i class="bi bi-save"></i> Salvar</button>
                    <a class="text-white btn bg-secondary bg-gradient" href="{% url 'contato-list' %}"><i class="bi bi-reply"></i> Voltar</a>
                    <h4 class="card-title">{%if object %} Editar {% else %} Novo {%endif%} {{ verbose_name }}</h4>
                </div>
            </div>
        </div>

        <div class="card-body">
                    {% csrf_token %}
                    
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                {% comment %} <label for="{{form.razao_social.id_for_label}}">{{form.razao_social.label}} </label> {% endcomment %}
                                {{ form.razao_social.label_tag }}
                                {{ form.razao_social }} 

                                {%if form.razao_social.help_text %}
                                    <span class="helptext">{{ form.razao_social.help_text|safe}}</span>
                                {%endif%}
                                
                                {% if form.errors.razao_social is not None %}
                                    {{ form.errors.razao_social }}
                                {%endif%}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.nome_fantasia.label_tag }}

                                {{ form.nome_fantasia }} 

                                {%if form.nome_fantasia.help_text %}
                                    <span class="helptext">{{ form.nome_fantasia.help_text}}</span>
                                {%endif%}
                                
                                {% if form.errors.nome_fantasia is not None %}
                                    {{ form.errors.nome_fantasia }}
                                {%endif%}
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                {{ form.cpf_cnpj.label_tag }}
                                {{ form.cpf_cnpj }} 

                                {%if form.cpf_cnpj.help_text%}
                                    <span class="helptext">{{ form.cpf_cnpj.help_text}}</span>
                                {%endif%}
                                
                                {% if form.errors.cpf_cnpj is not None %}
                                    {{ form.errors.cpf_cnpj }}
                                {%endif%}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="mb-3">
                                {{ form.inscricao_estadual.label_tag }}
                                {{ form.inscricao_estadual }} 

                                {%if form.inscricao_estadual.help_text %}
                                    <span class="helptext">{{ form.inscricao_estadual.help_text}}</span>
                                {%endif%}
                                
                                {% if form.errors.inscricao_estadual is not None %}
                                    {{ form.errors.inscricao_estadual }}
                                {%endif%}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="mb-3">
                                {{ form.inscricao_municipal.label_tag }}
                                {{ form.inscricao_municipal }} 

                                {%if form.inscricao_municipal.help_text %}
                                    <span class="helptext">{{ form.inscricao_municipal.help_text}}</span>
                                {%endif%}
                                
                                {% if form.errors.inscricao_municipal is not None %}
                                    {{ form.errors.inscricao_municipal }}
                                {%endif%}
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="mb-3">

                                {{ form.inscricao_suframa.label_tag }}
                                {{ form.inscricao_suframa }} 

                                {%if form.inscricao_suframa.help_text  %}
                                    <span class="helptext">{{ form.inscricao_suframa.help_text}}</span>
                                {%endif%}
                                
                                {% if form.errors.inscricao_suframa is not None %}
                                    {{ form.errors.inscricao_suframa }}
                                {%endif%}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="mb-3">
                                {{ form.inscricao_cnae.label_tag }}
                                {{ form.inscricao_cnae }} 

                                {%if form.inscricao_cnae.help_text %}
                                    <span class="helptext">{{ form.inscricao_cnae.help_text}}</span>
                                {%endif%}
                                
                                {% if form.errors.inscricao_cnae is not None %}
                                    {{ form.errors.inscricao_cnae }}
                                {%endif%}
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-7">
                            <div class="mb-3">
                                {{ form.endereco.label_tag }}
                                {{ form.endereco }} 

                                {%if form.endereco.help_text %}
                                    <span class="helptext">{{ form.endereco.help_text}}</span>
                                {%endif%}
                                
                                {% if form.errors.endereco is not None %}
                                    {{ form.errors.endereco }}
                                {%endif%}
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="mb-3">
                                {{ form.numero.label_tag }}
                                {{ form.numero }} 

                                {%if form.numero.help_text %}
                                    <span class="helptext">{{ form.numero.help_text}}</span>
                                {%endif%}
                                
                                {% if form.errors.numero is not None %}
                                    {{ form.errors.numero }}
                                {%endif%}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="mb-3">
                                {{ form.cep.label_tag }}
                                {{ form.cep }} 

                                {%if form.cep.help_text %}
                                    <span class="helptext">{{ form.cep.help_text}}</span>
                                {%endif%}
                                
                                {% if form.errors.cep is not None %}
                                    {{ form.errors.cep }}
                                {%endif%}
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">

                                {{ form.complemento.label_tag }}
                                {{ form.complemento }} 

                                {%if form.complemento.help_text %}
                                    <span class="helptext">{{ form.complemento.help_text}}</span>
                                {%endif%}
                                
                                {% if form.errors.complemento is not None %}
                                    {{ form.errors.complemento }}
                                {%endif%}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.bairro.label_tag }}
                                {{ form.bairro }} 

                                {%if form.bairro.help_text %}
                                    <span class="helptext">{{ form.bairro.help_text}}</span>
                                {%endif%}
                                
                                {% if form.errors.bairro is not None %}
                                    {{ form.errors.bairro }}
                                {%endif%}
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="mb-3">
                                {{ form.estado.label_tag }}
                                {{ form.estado }} 
                                
                                {% if form.errors.estado is not None %}
                                    {{ form.errors.estado }}
                                {%endif%}
                            </div>
                        </div>

                        <div class="col-md-10">
                            <div class="mb-3">
                                {{ form.municipio.label_tag }}
                                {{ form.municipio }} 

                                {% if form.errors.municipio is not None %}
                                    {{ form.errors.municipio }}
                                {%endif%}
                            </div>
                        </div>
                    </div> 

                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                {{ form.celular.label_tag }}
                                {{ form.celular }} 

                                {%if form.celular.help_text %}
                                    <span class="helptext">{{ form.celular.help_text}}</span>
                                {%endif%}
                                
                                {% if form.errors.celular is not None %}
                                    {{ form.errors.celular }}
                                {%endif%}
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="mb-3">
                                {{ form.fone.label_tag }}
                                {{ form.fone }} 

                                {%if form.fone.help_text %}
                                    <span class="helptext">{{ form.fone.help_text}}</span>
                                {%endif%}
                                
                                {% if form.errors.fone is not None %}
                                    {{ form.errors.fone }}
                                {%endif%}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">

                                {{ form.email.label_tag }}
                                {{ form.email }} 

                                {%if form.email.help_text %}
                                    <span class="helptext">{{ form.email.help_text}}</span>
                                {%endif%}
                                
                                {% if form.errors.email is not None %}
                                    {{ form.errors.email }}
                                {%endif%}
                            </div>
                        </div>

                    </div> 
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                {{ form.ativo.label_tag }}
                                {{ form.ativo }} 
                            </div>
                        </div>
                    </div> 
                    
                    
                </div>
    </div>
            </form>
{% endblock conteudo%}