{% extends 'base.html' %}
{% block title %} {{ verbose_name }} {% endblock title %}
{% block conteudo %}

    <div class="card shadow card-outline mb-1">
        <div class="card-header pb-0" style="">
            <div class="row d-flex  align-items-center">
                <div class="col-md-9">
                <div class="row">

                    <div class="col-md-8 col-lg-6 ">
                        <div class="mb-3">
                            <form  method="get">
                                <div class="input-group ">
                                    <input name="search" id="search" class="form-control " type="search" value="{{ search }}">
                                    <button type="submit" class="text-white btn bg-secondary bg-gradient"><i class="bi bi-search"></i> Pesquisar</button>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                    {% if search %}
                    <div class="col-md-4 align-self-center">
                        <div class="mb-3">
                            <a class="btn btn-danger" href="{% url 'contato-list' %}"><i class="bi bi-trash"></i> Limpa filtro</a>
                        </div>
                    </div>
                    {%endif%}
                </div>
                </div>
                <div class="col-md-3 filtro">
                    <div class="mb-3">
                        <select class="form-select">
                            <option>----------------</option>
                            </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" style="padding: .5rem .7rem">
            <table class="table mb-1 table-sm table-bordered table-hover caption-top">
                <caption style="padding-top: 1px" > 
                    <div class="row">
                        <div class="col-4 col-md-3 col-lg-2 ">
                            {% if perms.cadastro.add_contato %}
                            <a class="btn bg-primary bg-gradient text-white" href="{% url 'contato-create' %}" ><i class="bi bi-plus-circle"></i>  {{ verbose_name }}</a>
                            {% endif %}
                        </div>

                        <div class="col-8 text-center align-self-center ">
                            <h5  style="margin-bottom: 1px">Lista de {{ verbose_name_plural }} </h5>
                        </div>

                        <div class="col-2">    
                        </div>
                    </div>
                </caption>
                    <thead class="table-secondary ">
                        <tr>
                            <th>Nome</th>
                            <th>CPF/CNPJ</th>
                            <th>Insc. Est.</th>
                            <th>Celular</th>
                            <th>Ativo</th>
                            <th class="text-center" style="width: 6rem">Ações</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for m in object_list %}
                            <tr>
                                <td>{{ m.razao_social }}</td>
                                <td>{% if m.cpf_cnpj is not None%} {{ m.cpf_cnpj }} {%endif%}</td>
                                <td>{% if m.inscricao_estadual is not None%} {{ m.inscricao_estadual }} {%endif%}</td>
                                <td>{% if m.celular is not None%} {{ m.celular }} {%endif%}</td>
                                

                                <td class="text-center">
                                    {% if m.ativo == True %} 
                                    <i class="bi bi-check-lg text-success"></i>
                                    {% else %}
                                        <i class="bi bi-x-lg  text-danger"></i>
                                    {%endif%}

                                </td>

                                <td class="text-center d-flex justify-content-evenly">
                                    {% if perms.cadastro.change_contato %}
                                        <a href="{% url 'contato-update' m.pk %}?page={{ page_obj.number }}"><i class="text-primary bi bi-pencil" ></i></a>
                                    {%endif%} 

                                    {% if perms.cadastro.delete_contato %}
                                        <a  href="{% url 'contato-delete' m.pk %}"><i class="text-danger bi bi-trash3"></i></a>
                                    {%endif%} 
                                </td>
                            </tr>
                        {% empty %}
                           <tr>
                               <td class="text-center" colspan="6">Sem registro</td>
                           </tr>

                        {% endfor %}
                    </tbody>
                </table>
           
                {% include 'paginate.html' %}
        </div>
    </div>

{% endblock conteudo%}

