{% extends 'base.html' %}
{% block title %} Nova {{ verbose_name }} {% endblock title %}
{% block conteudo %}

    <div class="card mt-5">
        <div class="card-header">
            <h4>{%if object %} Editar {% else %} Nova {%endif%} {{ verbose_name }}</h4>
        </div>

        <div class="card-body">
            <form method="post">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-2">
                            <div class="mb-3">
                                <label for="id_codigo">{{form.codigo.label}}</label>
                                <input autofocus class="form-control {% if form.errors.codigo is not None %} is-invalid {% endif %}"
                                       name="codigo" id="id_codigo" maxlength="3"
                                       value ="{% if form.codigo.value is not None %}{{form.codigo.value}}{%endif%}"
                                />

                                {% if form.errors.codigo is not None %}
                                    <div class="invalid-feedback">
                                        {{ form.errors.codigo }}
                                    </div>
                                {%endif%}

                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="mb-3">
                                <label for="id_uf">{{form.uf.label}}</label>
                                <input class="form-control {% if form.errors.uf is not None %} is-invalid {% endif %}"
                                       name="uf" id="id_uf" maxlength="3"
                                       value ="{% if form.uf.value is not None %}{{form.uf.value}}{%endif%}"
                                />

                                {% if form.errors.uf is not None %}
                                    <div class="invalid-feedback">
                                        {{ form.errors.uf }}
                                    </div>
                                {%endif%}

                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="mb-3">
                                <label for="id_uf">{{form.pais.label}}</label>
                                <select class="form-select {% if form.errors.pais is not None %} is-invalid {% endif %}" id="id_pais" name="pais">
                                    <option>----------------</option>
                                    {% for i in form.pais.field.queryset.all %}
                                        <option  {% if i.pk == form.pais.value %}selected{% endif %} value="{{i.pk}}">{{i}}</option>
                                    {% endfor %}
                                </select>
                                {% if form.errors.pais is not None %}
                                    <div class="invalid-feedback">
                                        {{ form.errors.pais }}
                                    </div>
                                {%endif%}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_nome">{{form.nome.label}}</label>
                                <input class="form-control {% if form.errors.nome is not None %} is-invalid {% endif %}" name="nome" id="id_nome"
                                       maxlength="60"
                                value="{% if form.nome.value is not None %}{{form.nome.value}}{%endif%}"
                                />
                                {% if form.errors.nome is not None %}
                                    <div class="invalid-feedback">
                                        {{ form.errors.nome }}
                                    </div>
                                {%endif%}
                            </div>
                        </div>

                    </div>
                    <button class="btn btn-success" type="submit" ><i class="bi bi-save"></i> Salvar</button>
                    <a class="btn btn-secondary" href="{% url 'estado-list' %}"><i class="bi bi-reply"></i> Voltar</a>
                </form>
        </div>
    </div>







{% endblock conteudo%}