.errorlist {
    list-style: none;
    padding: 1px;
    color: #dc3545;
    font-size: 80%;
    font-weight: bolder;
    margin-top: 0.25rem;
}

.helptext {
    font-size: 0.6875rem;
    color: #666;
}

.card-outline {
    border-top: 3px solid #007bff;
}

.elevation-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)!important;
}