{% extends 'base.html' %}
{% block title %} {{ verbose_name }} {% endblock title %}
{% block conteudo %}
<div class="container-fluid">
    <form>
        <div class="row d-flex align-items-center">
            
            <div class="col-auto ">
                <h4>{{ titulo }}</h4>

            </div>

            <div class="col d-flex justify-content-end">
                <div class="row ">

                    <div class="col">
                        
                        <div class="mb-3">
                            <label for="data_inicial">Tipo Fluxo</label>
                            <select name="tipo_fluxo" id="tipo_fluxo" class="form-select form-select-sm" >
                                <option {%if tipo_fluxo == "1"%}selected{%endif%}  value="1">Resumo por dia</option>
                            </select>
                            
                        </div>
                    </div>
                    <div class="col">
                        
                        <div class="mb-3">
                            <label for="data_inicial">Data Inicial</label>
                            <input type="date" name="data_inicial" id="data_inicial" class="form-control form-control-sm" value="{{ data_inicial }}">
                            
                        </div>
                    </div>
                    
                    <div class="col">

                        <div class="mb-3">
                            <label for="data_final">Data Final</label>
                            <input type="date" name="data_final" id="data_final" class="form-control form-control-sm" value="{{ data_final }}">
                            
                        </div>
                    </div>
                    <div class="col-auto  d-flex align-items-end">
                        <div class="mb-3">
                            <button class="btn btn-sm btn-primary" type="submit">Filtrar</button>
                            <a class="btn btn-sm btn-secondary" href="{% url 'fluxopagamentos-list' %}">Limpar</a>
                        </div>
                    </div>
                    
                </div>
         
        </div>
        
        <table class="table table-sm table-bordered table-striped">
            <thead class="table-secondary ">
                <tr>
                    <th class="text-center">Data Pagto</th>
                    <th class="text-center">Total Entradas</th>
                    <th class="text-center">Total Saídas</th>
                    <th class="text-center">Saldo do dia</th>
                    
                </tr>
            </thead>
            <tbody  class="table-group-divider">
               {% for r in recebers %}
                    <tr>
                        <td class="text-center">{{ r.data_baixa}}</td>
                        <td class="text-center">{{ r.total_receber_pago }}</td>
                        <td class="text-center">{{r.total_pagar_pago}}</td>
                        <td class="text-center">{{r.saldo}}</td>
                        
                    </tr>
                    {% endfor %} 
                    
                    <tr>
                        <th class="text-end" colspan="3">Saldo Geral</th>
                        <td class="text-center fw-bold">{{ saldo }}</td>
                    </tr>
            </tbody>
        </table>
     
    </form>
</div>
   
{% endblock conteudo%}